In [1]:
import pandas as pd

In [2]:
url = "https://www.espncricinfo.com/records/highest-career-batting-average-282910"

In [3]:
tables = pd.read_html(url)

HTTPError: HTTP Error 403: Forbidden

In [ ]:
!pip install lxml html5lib

In [ ]:
tables = pd.read_html(url)

In [4]:
df=pd.read_csv("cricinfo.csv")

In [5]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [6]:
df.columns

Index(['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100', '50', '0', '4s', '6s'],
      dtype='object')

In [7]:
df=df.rename(columns={'Mat':'Matches_played'}) #{'key':'value'}

In [8]:
df

,Player,Span,Matches_played,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [9]:
#renaming multiple columns at a time

In [10]:
df.columns

Index(['Player', 'Span', 'Matches_played', 'Inns', 'NO', 'Runs', 'HS', 'Ave',
       'BF', 'SR', '100', '50', '0', '4s', '6s'],
      dtype='object')

In [11]:
df=df.rename(columns={'Inns':'innings','NO':'not_out','HS':'highest_score','Ave':'average','BF':'balls_faced','SR':'strike_rate'})

In [12]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [13]:
df.isnull().any()

Player            False
Span              False
Matches_played    False
innings           False
not_out           False
Runs              False
highest_score     False
average           False
balls_faced       False
strike_rate       False
100               False
50                False
0                 False
4s                False
6s                False
dtype: bool

In [14]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
57    False
58    False
59    False
60    False
61    False
Length: 62, dtype: bool

In [15]:
df.columns

Index(['Player', 'Span', 'Matches_played', 'innings', 'not_out', 'Runs',
       'highest_score', 'average', 'balls_faced', 'strike_rate', '100', '50',
       '0', '4s', '6s'],
      dtype='object')

In [16]:
df['Player']

0      DG Bradman (AUS)
1      PHKD Mendis (SL)
2        AC Voges (AUS)
3       RG Pollock (SA)
4       GA Headley (WI)
            ...
57     KD Walters (AUS)
58    GC Smith (ICC/SA)
59    WH Ponsford (AUS)
60      SJ McCabe (AUS)
61     DR Jardine (ENG)
Name: Player, Length: 62, dtype: object

In [17]:
duplicate_rows = df[df['Player'].isin(['AC Voges (AUS)','RG Pollock (SA)','GA Headley (WI)'])]

In [18]:
df = pd.concat([df,duplicate_rows], ignore_index=True)

In [19]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0
62,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
63,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
64,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1

In [20]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
60    False
61    False
62     True
63     True
64     True
Length: 65, dtype: bool

In [21]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0
62,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
63,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
64,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1

In [22]:
df.dtypes

Player             object
Span               object
Matches_played      int64
innings             int64
not_out             int64
Runs                int64
highest_score      object
average           float64
balls_faced        object
strike_rate        object
100                 int64
50                  int64
0                  object
4s                  int64
6s                  int64
dtype: object

In [23]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0
62,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
63,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
64,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1

In [24]:
pd

In [25]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
60    False
61    False
62     True
63     True
64     True
Length: 65, dtype: bool

In [26]:
df.tail(3)

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s
62,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
63,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
64,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1

In [27]:
df[df['Player'].isin(['AC Voges (AUS)','RG Pollock (SA)','GA Headley (WI)'])]

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
62,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
63,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
64,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1

In [28]:
df=df.drop_duplicates()

In [29]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [30]:
#split method for splitting it (Span) into start and end date

In [31]:
df['Span'].str.split(pat='-')

0     [1928, 1948]
1     [2022, 2025]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
          ...
57    [1965, 1981]
58    [2002, 2014]
59    [1924, 1934]
60    [1930, 1938]
61    [1928, 1934]
Name: Span, Length: 62, dtype: object

In [32]:
df['Span'].str.split(pat='-').str[0]

0     1928
1     2022
2     2015
3     1963
4     1930
      ...
57    1965
58    2002
59    1924
60    1930
61    1928
Name: Span, Length: 62, dtype: object

In [33]:
df['start_year']=df['Span'].str.split(pat='-').str[0]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13624\3240263256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start_year']=df['Span'].str.split(pat='-').str[0]

In [34]:
df['start_year']

0     1928
1     2022
2     2015
3     1963
4     1930
      ...
57    1965
58    2002
59    1924
60    1930
61    1928
Name: start_year, Length: 62, dtype: object

In [35]:
df['end_year']=df['Span'].str.split(pat='-').str[1]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13624\3495205318.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end_year']=df['Span'].str.split(pat='-').str[1]

In [36]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6,1928,1948
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, 0 to 61
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Player          62 non-null     object
 1   Span            62 non-null     object
 2   Matches_played  62 non-null     int64
 3   innings         62 non-null     int64
 4   not_out         62 non-null     int64
 5   Runs            62 non-null     int64
 6   highest_score   62 non-null     object
 7   average         62 non-null     float64
 8   balls_faced     62 non-null     object
 9   strike_rate     62 non-null     object
 10  100             62 non-null     int64
 11  50              62 non-null     int64
 12  0               62 non-null     object
 13  4s              62 non-null     int64
 14  6s              62 non-null     int64
 15  start_year      62 non-null     object
 16  end_year        62 non-null     object
dtypes: float64(1), int64(8), object(8)
memory usage: 8.7+ KB

In [38]:
df['country1']=df['Player'].str.split(pat='(').str[1]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13624\1424915988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country1']=df['Player'].str.split(pat='(').str[1]

In [39]:
df['country1']=df['country1'].str.split(pat=')').str[0]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13624\3446217031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country1']=df['country1'].str.split(pat=')').str[0]

In [40]:
df['country']=df['country'].str.split(pat=')').str[0]

KeyError: 'country'

In [ ]:
df

In [ ]:
df

In [ ]:
df['Player']

In [ ]:
df['Player']=df['Player'].str.split(pat='(').str[0]

In [ ]:
df

In [ ]:
df=df.drop(['Span'], axis=1)

In [ ]:
df

In [ ]:
df['highest_score']=df['highest_score'].str.split(pat='*').str[0]

In [41]:
df['highest_score']

0      334
1     182*
2     269*
3      274
4     270*
      ...
57     250
58     277
59     266
60     232
61     127
Name: highest_score, Length: 62, dtype: object

In [42]:
df['balls_faced']=df['balls_faced'].str.split(pat='+').str[0]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13624\3070048646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_faced']=df['balls_faced'].str.split(pat='+').str[0]

In [43]:
df['balls_faced']

0      9800
1      1839
2      2667
3      1707
4       416
      ...
57     8662
58    15525
59     3118
60     3217
61     2110
Name: balls_faced, Length: 62, dtype: object

In [44]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year,country1
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626,6,1928,1948,AUS
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416,56,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [45]:
df=df.drop(['country1'], axis=1)

In [46]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626,6,1928,1948
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416,56,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, 0 to 61
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Player          62 non-null     object
 1   Span            62 non-null     object
 2   Matches_played  62 non-null     int64
 3   innings         62 non-null     int64
 4   not_out         62 non-null     int64
 5   Runs            62 non-null     int64
 6   highest_score   62 non-null     object
 7   average         62 non-null     float64
 8   balls_faced     62 non-null     object
 9   strike_rate     62 non-null     object
 10  100             62 non-null     int64
 11  50              62 non-null     int64
 12  0               62 non-null     object
 13  4s              62 non-null     int64
 14  6s              62 non-null     int64
 15  start_year      62 non-null     object
 16  end_year        62 non-null     object
dtypes: float64(1), int64(8), object(8)
memory usage: 8.7+ KB

In [48]:
df.dtypes

Player             object
Span               object
Matches_played      int64
innings             int64
not_out             int64
Runs                int64
highest_score      object
average           float64
balls_faced        object
strike_rate        object
100                 int64
50                  int64
0                  object
4s                  int64
6s                  int64
start_year         object
end_year           object
dtype: object

In [49]:
df['highest_score']=df['highest_score'].astype('int') #for individual changes in data type

ValueError: invalid literal for int() with base 10: '182*'

In [ ]:
df=df.astype({'highest_score':'int','start_year':'int','end_year':'int'}) ##for individual changes in data type within data frame

In [ ]:
df.columns

In [ ]:
new_order = [
    'Player', 'start_year', 'end_year',     # Basic info
    'Matches_played', 'innings', 'not_out', # Match-related stats
    'Runs', 'highest_score', 'average', 'strike_rate', # Batting performance
    '100', '50', '0',                       # Milestones & ducks
    'balls_faced', '4s', '6s'               # Shot-specific & input stats
]

df = df[new_order]

In [ ]:
df

In [ ]:
df.columns

In [ ]:
new_ord=['Player', 'start_year', 'end_year', 'innings','Matches_played',
       'not_out', 'Runs', 'highest_score', 'strike_rate','average', '100',
       '50', '0', 'balls_faced', '4s', '6s']

In [ ]:
new_ord

In [ ]:
df=df[new_ord]

In [ ]:
df

In [50]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626,6,1928,1948
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416,56,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934

In [51]:
df['Player']

0      DG Bradman (AUS)
1      PHKD Mendis (SL)
2        AC Voges (AUS)
3       RG Pollock (SA)
4       GA Headley (WI)
            ...
57     KD Walters (AUS)
58    GC Smith (ICC/SA)
59    WH Ponsford (AUS)
60      SJ McCabe (AUS)
61     DR Jardine (ENG)
Name: Player, Length: 62, dtype: object

In [52]:
df['Player'].str.split('(')

0      [DG Bradman , AUS)]
1      [PHKD Mendis , SL)]
2        [AC Voges , AUS)]
3       [RG Pollock , SA)]
4       [GA Headley , WI)]
              ...
57     [KD Walters , AUS)]
58    [GC Smith , ICC/SA)]
59    [WH Ponsford , AUS)]
60      [SJ McCabe , AUS)]
61     [DR Jardine , ENG)]
Name: Player, Length: 62, dtype: object

In [55]:
df['country11']=df['Player'].str.split('(').str[1]

In [59]:
df['country11']=df['country11'].str.split(')').str[0]

In [60]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year,country11
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626,6,1928,1948,AUS
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416,56,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [62]:
df2=df

In [63]:
df2

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year,country11
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626,6,1928,1948,AUS
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416,56,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [64]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year,country11
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626,6,1928,1948,AUS
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416,56,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [65]:
df2.dropna()

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year,country11
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626,6,1928,1948,AUS
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416,56,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [67]:
df2=pd.read_excel('Customer Call List.xlsx')

In [70]:
df2.isna().any()

CustomerID           False
First_Name           False
Last_Name             True
Phone_Number          True
Address              False
Paying Customer      False
Do_Not_Contact        True
Not_Useful_Column    False
dtype: bool

In [71]:
df2.shape

(21, 8)

In [77]:
df2.dropna(inplace=True)

In [78]:
df2.shape

(15, 8)

In [79]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year,country11
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626,6,1928,1948,AUS
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416,56,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [81]:
df['Player',''].str.lower()

0      dg bradman (aus)
1      phkd mendis (sl)
2        ac voges (aus)
3       rg pollock (sa)
4       ga headley (wi)
            ...
57     kd walters (aus)
58    gc smith (icc/sa)
59    wh ponsford (aus)
60      sj mccabe (aus)
61     dr jardine (eng)
Name: Player, Length: 62, dtype: object

In [82]:
df2

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [83]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         15 non-null     int64
 1   First_Name         15 non-null     object
 2   Last_Name          15 non-null     object
 3   Phone_Number       15 non-null     object
 4   Address            15 non-null     object
 5   Paying Customer    15 non-null     object
 6   Do_Not_Contact     15 non-null     object
 7   Not_Useful_Column  15 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 975.0+ bytes

In [85]:
df2

Index(['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Address',
       'Paying Customer', 'Do_Not_Contact', 'Not_Useful_Column'],
      dtype='object')

In [86]:
df2=list(df2.columns)

In [87]:
df2

['CustomerID',
 'First_Name',
 'Last_Name',
 'Phone_Number',
 'Address',
 'Paying Customer',
 'Do_Not_Contact',
 'Not_Useful_Column']

In [88]:
df2['First_Name']

TypeError: list indices must be integers or slices, not str

In [89]:
df2=pd.read_excel('Customer Call List.xlsx')

In [93]:
df[df['Player'] == 'PHKD Mendis (SL)']

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year,country11
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL

In [94]:
df

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year,country11
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626,6,1928,1948,AUS
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416,56,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [95]:
df[df['Player'] == 'WH Ponsford (AUS)']

,Player,Span,Matches_played,innings,not_out,Runs,highest_score,average,balls_faced,strike_rate,100,50,0,4s,6s,start_year,end_year,country11
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS

In [97]:
df2.describe()

        CustomerID
count    21.000000
mean   1010.952381
std       6.127611
min    1001.000000
25%    1006.000000
50%    1011.000000
75%    1016.000000
max    1020.000000

In [99]:
df.describe()

,Matches_played,innings,not_out,Runs,average,100,50,4s,6s
count,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000
mean,78.693548,133.467742,13.919355,6332.580645,53.815484,19.080645,28.225806,641.741935,27.758065
std,52.035482,88.593697,11.374833,4116.130956,7.187252,12.693484,19.111767,530.515182,27.469617
min,12.000000,20.000000,1.000000,990.000000,48.000000,1.000000,3.000000,37.000000,0.000000
25%,23.250000,40.250000,5.000000,2206.500000,49.660000,7.000000,10.000000,152.250000,5.000000
50%,79.000000,131.500000,12.000000,6192.000000,51.950000,19.000000,28.000000,534.000000,20.500000
75%,117.750000,199.500000,19.000000,9156.750000,56.677500,28.750000,42.500000,1073.750000,43.500000
max,200.000000,329.000000,49.000000,15921.000000,99.940000,51.000000,68.000000,2058.000000,97.000000

In [101]:
df['Span'].Str.split('-')

AttributeError: 'Series' object has no attribute 'Str'